* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "微軟正黑體", Arial, sans-serif;
    background: #f5f5f5;
    
}



.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    h1 {
        letter-spacing: 0.1rem;
    }
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0056b3;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 0.5rem 0.25rem;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #000;
}

.nav-links a:hover::after,
.nav-links a.activate::after {
    width: 100%;
}

.nav-links a.activate {
    color: #007bff;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 100;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #1976d2;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
        margin: 1rem;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        flex-wrap: nowrap;
        padding: 1rem;
        background-color: rgba(255, 255, 255);
    }

    .nav-title {
        width: auto;
        text-align: left;
        margin-bottom: 0;
        font-size: 1.25rem;
    }

    .nav-links.active {
        display: flex;
    }

    nav a {
        padding: 1rem;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255);
        position: absolute;
        top: 65px;
        left: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }

    /* 漢堡選單動畫 */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
}